:root {
  --purple: #6c28ac;
  --orange: #f47c93;
}


body {
  overflow-x: hidden;
  width: 100vw;
  background-color: var(--orange);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body::-webkit-scrollbar {
  width: 1vw;
  background: var(--orange);
  height: 2vh;
}

body::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 6px;
  -webkit-transition-duration: 0.4s;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* Safari */
  overflow: scroll;
  overflow: overlay;
  transition-duration: 0.4s;
}

h1 {
  position: relative;
  top: -10vh;
  text-align: center;
  font-size: 12em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: var(--purple);
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  text-align: center;
  font-size: 3em;
  position: relative;
  top: -35vh;
}

.content-body {
  max-width: 90%;
  position: relative;
  top: -25vh;
  background-color: var(--purple);
  padding: 2%;
  border-radius: 1em;
  color: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

h3 {
  font-weight: 900;
  text-decoration: overline;
  font-size: 1.6em;
}

.main-content {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

.image-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -5vh;
  left: 20%;
  height: 75vh;
  background-color: #f47c93;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #f47c93 20%, #f47c93 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f47c93 20%, #f47c93 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#6c28ac 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #6c28ac 8px, #f47c93 8px) -4px 0;
background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}

.image-body2 {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -15vh;
  left: -22.5%;
  height: 75vh;
  background-color: #f47c93;
opacity: 1;
background: radial-gradient(circle, transparent 20%, #f47c93 20%, #f47c93 80%, transparent 80%, transparent), radial-gradient(circle, transparent 20%, #f47c93 20%, #f47c93 80%, transparent 80%, transparent) 100px 100px, linear-gradient(#6c28ac 8px, transparent 8px) 0 -4px, linear-gradient(90deg, #6c28ac 8px, #f47c93 8px) -4px 0;
background-size: 200px 200px, 200px 200px, 100px 100px, 100px 100px;
}


.main-nav {
  position: relative;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  padding: 0;
  width: 600px;
  height: 150px;
}


.main-nav li {
  list-style: none;
  position: absolute;
  width: 200px;
  height: 200px;
  background: #000;
  transition: 0.5s;
  margin: -100px;
  transform: rotate(45deg);
  overflow: hidden;
  opacity: 0.8;
  background-color: transparent;
}

.main-nav li:hover {
  opacity: 1;
  scale: 1.5;
  z-index: 999999999;
  background-color: transparent;
}

.main-nav li.item1 {
  top: 0;
  left: 0;
}

.main-nav li.item2 {
  bottom: 0;
  left: 25%;
}

.main-nav li.item3 {
  top: 0;
  left: 50%;
}

.main-nav li.item4 {
  bottom: 0;
  left: 75%;
}

.main-nav li.item5 {
  top: 0;
  left: 100%;
}

.main-nav li.item6 {
  bottom: 0;
  left: 100%;
}

.main-nav li.item7 {
  top: 0;
  left: 125%;
}

.main-nav li.item8 {
  bottom: 0;
  left: 150%;
}

.main-nav li.item9 {
  top: 0;
  left: 175%;
}

.main-nav li.item10 {
  bottom: 0;
  left: 200%;
}


.main-nav li .bg {
  width: 100%;
  height: 100%;
  transform: scale(2);
}

.main-nav li.item1 .bg {
  background: url('Assets/1\ \(1\).JPG');
  background-size: cover;
  background-position: center;
  transform: rotate(-45deg);
  background-repeat: no-repeat;
}

.main-nav li.item2 .bg {
  background: url('Assets/1\ \(2\).JPG');
  background-size: cover;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
  background-position: center;
}

.main-nav li.item3 .bg {
  background: url('Assets/1\ \(3\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item4 .bg {
  background: url('Assets/1\ \(4\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item5 .bg {
  background: url('Assets/1\ \(5\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item6 .bg {
  background: url('Assets/1\ \(6\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item7 .bg {
  background: url('Assets/1\ \(7\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item8 .bg {
  background: url('Assets/1\ \(8\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item9 .bg {
  background: url('Assets/1\ \(9\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.main-nav li.item10 .bg {
  background: url('Assets/1\ \(10\).JPG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(-45deg);
}

.winners-container {
  width: 90%;
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: var(--purple); */
  height: 50vh;
  margin-top: -25vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.winners {
  background-color: var(--purple);
  height: 90%;
  width: 40%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--orange);
  font-size: 2em;
}

h4 {
  font-size:1.5em;
  background-color: var(--orange);
  color: var(--purple);
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000, 0.5px 0.5px 0 #000;  
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 60px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  width: 101%;
  height: 15%;
  margin-top: -20%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.bowtie {
  height: 40%;
  width: 40%;
  position: relative;
  transform: rotate(30deg);
  left: 42%;
  top: -10%;
}

@media screen and (max-width: 728px) {
  body {
    width: 100vw;
  }
    h1 {
    top: 0;
    font-size:4em;
  }
  h2 {
    top: -5vh;
    font-size: 1em;
  }
  .content-body {
    top: 0vh;
    height: fit-content;
    margin-bottom: 20vh;
  }
  .main-content {
    padding: 2%;
    font-size: 1em;
  }
  .image-body {
    left: 0;
    height: 120vh;
  }
  .main-nav {
    width: 100%;
  }
  .main-nav li.item1 {
    top: -200%;
  }
  .main-nav li.item2 {
    top: -50%;
  }
  .main-nav li.item3 {
    top: 100%;
  }
  .main-nav li.item4 {
    top: 250%;
  }
  .main-nav li.item5 {
    top: 400%;
  }
  .image-body2 {
    margin-top: 45vh;
    left: 0;
    height: 120vh;
    margin-bottom: 25vh;
  }
  .main-nav li.item6 {
    top: -200%;
  }
  .main-nav li.item7 {
    top: -50%;
  }
  .main-nav li.item8 {
    top: 100%;
  }
  .main-nav li.item9 {
    top: 250%;
  }
  .main-nav li.item10 {
    top: 400%;
  }
  .winners-container {
    margin-top: -25vh;
    height: 100vh;
    margin-bottom: 10vh;
    flex-direction: column;
  }
  .winners {
    font-size: 1.5em;
    width: 90%;
    margin-bottom: 10vh;
  }
}